const stripe = Stripe('pk_test_51PsFXKP8XbnKVBWJzXgeB4MCZqK6QlUkgt1adwZdJGfOpqmB05vJgKQ9XKhGAIlojrWc3UDYlNTSXMxNvtGPePeO00iXuclZ3F');

document.getElementById('pay-button').addEventListener('click', async () => {
    const cart = JSON.parse(localStorage.getItem("cart")) || [];
    const items = cart.map(item => ({
        name: item.name,
        price: item.price,
    }));

    const response = await fetch('/checkout', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ items })
    });
    const session = await response.json();

    stripe.redirectToCheckout({ sessionId: session.id });
});
