[Unit]
Description=My Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/html/login/project-app.js
WorkingDirectory=/var/www/html/login
Restart=on-failure
User=ope
Group=ope
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
